@tailwind components;
@tailwind utilities;

@layer {
  @tailwind base;

  @font-face {
    font-family: "BebasNeue";
    src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf") format(truetype);
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("./fonts/inter/Inter-Regular.ttf") format(truetype);
    font-style: normal;
  }

  body {
    @apply text-lg-white !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "BebasNeue";
  }

  p,
  ul,
  li {
    font-size: 16px;
  }

  .mantine-TextInput-input {
    @apply uppercase py-5 px-2 text-lg-gray-light !important;
    border-bottom: 2px solid #aeaeae !important;
    border-radius: 0px !important;
  }
}

@layer components {
  .hero {
    @apply bg-center bg-no-repeat bg-cover bg-slate-950 !important;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.36) 0%,
        rgba(0, 0, 0, 0.36) 100%
      ),
      url("./assets/images/hero.jpeg"), lightgray 50%;
  }
  .expression_hero {
    @apply bg-center bg-no-repeat bg-cover bg-slate-950 h-[500px] !important;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.36) 0%,
        rgba(0, 0, 0, 0.36) 100%
      ),
      url("./assets/images/hands.jpeg"), lightgray 50%;
  }
  .expression_box {
    @apply bg-center bg-no-repeat bg-cover h-[800px] !important;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.85) 20%,
        rgba(0, 0, 0, 0.8) 60%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0.85) 80%,
        rgba(0, 0, 0, 0.85) 100%
      ),
      url("./assets/images/hold-hands.jpeg"), lightgray 50%;
  }
  .subscribe_box {
    @apply bg-center bg-no-repeat bg-cover h-[800px] rounded-2xl !important;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("./assets/images/kids.jpeg"), lightgray 90%;
  }
}

@layer utilities {
  .lg-container {
    @apply container mx-auto;
  }
  .lg-section-white {
    @apply px-24 py-36 text-lg-black;
  }
  .lg-section-red {
    @apply px-24 py-36 bg-lg-red;
  }
  .lg-section-black {
    @apply bg-lg-dark text-lg-white;
  }

  .activities_table {
    @apply grid grid-cols-4 justify-center items-center py-6;
  }
}
