@tailwind components;
@tailwind utilities;

@layer {
  @tailwind base;

  @font-face {
    font-family: "BebasNeue";
    src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf") format(truetype);
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("./fonts/inter/Inter-Regular.ttf") format(truetype);
    font-style: normal;
  }

  body {
    @apply text-lg-white !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "BebasNeue";
  }
}

@layer base {
}
