/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bebas Neue";
    src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf") format(truetype);
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("./fonts/inter/Inter-Regular.ttf") format(truetype);
    font-style: normal;
  }

  body {
    font-family: "Inter";
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bebas Neue";
  }
}
